/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct. 21, 2020, 12:22:31 p.m.
    Author     : Dominik
*/

.wrap {
	background-color: #fff;
}

.programmeur {
	display: flex;
	padding-left: 15px;
	justify-content: center;
}

.container {
	margin: 5vh;
}

.prog-text {
	padding-left: 3vw;
}

.prog-img {
	border: 2px solid #000;
	border-radius: 4px;
	max-width: 170px;
}
