/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 nov. 2020, 14 h 28 min 40 s
    Author     : bobynet
*/
.footer{

    bottom:0;
    
}

.emplois-h3,.emplois-p,.emplois-liste{
    padding-left:2vw;
}

.emplois-li{
    margin-left:2vw;
}
