/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 nov. 2020, 12 h 33 min 44 s
    Author     : bobynet
*/
.form-inscription{
    margin:4vh 0;
}

.inscription-btn{
    background-color: #677DB7;
    border-color: #677DB7;
    width:100%;
}

.inscription-btn:hover{
    background-color: #5271c4;
    border-color: #5271c4;
}

text.error{
    color : red;
}