* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.025em;
}

html,
body {
	height: 100%;
	color: white;
}

body {
	background-color: #121212;
	text-emphasis-color: white;
	color: white;
	font-family: "Noto Sans", "Segoe UI", sans-serif;

	/* pour le sidebar */
	overflow-x: hidden;
}

h1 {
	letter-spacing: 0em;
}

ul {
	list-style-type: none;
	padding: 0;
}

.sidebar_playlists {
	overflow-y: auto;
	overflow-x: hidden;
}

/* scrollbars */
.sidebar_playlists::-webkit-scrollbar {
	width: 10px;
  }
  
/* Track */
.sidebar_playlists::-webkit-scrollbar-track {
	background-color:transparent;
}
   
/* Handle */
.sidebar_playlists::-webkit-scrollbar-thumb {
	background: #677db7; 
}
  
/* Handle on hover */
.sidebar_playlists::-webkit-scrollbar-thumb:hover {
	background: #51618f; 
}

/* scrollbars */
main::-webkit-scrollbar {
	width: 10px;
  }
  
/* Track */
main::-webkit-scrollbar-track { 
	background-color:transparent;
}
   
/* Handle */
main::-webkit-scrollbar-thumb {
	background: #677db7; 
}
  
/* Handle on hover */
main::-webkit-scrollbar-thumb:hover {
	background: #51618f; 
}

#wrapper {
	width: 100vw;
	height: 100vh;
	padding-bottom: 90px; //pour la place du PlayerBar
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: auto 1fr;
}
#sidebar-wrapper {
	width: 240px;
	height: 100%;
	margin-left: -15rem;
	background-color: black;
	-webkit-transition: margin 0.3s ease-out;
	-moz-transition: margin 0.3s ease-out;
	-o-transition: margin 0.3s ease-out;
	transition: margin 0.3s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

#page-content-wrapper {
	min-width: 0;
	width: 100%;
}

#content-wrapper {
	height: 100vh;
	padding-bottom: 147px;
}

main {
	overflow-y: auto; /* SCROLL */
}

a {
	text-decoration: none;
	/* not draggable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
        color: #677db7;
}

a:hover{
    color: #51618f;
}

footer {
	/* pour qu'il reste sticky en bas */
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 3px groove black;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"); /* https://fonts.google.com/specimen/Montserrat */

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}
.nodrag {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn-outline-secondary{
    color: #677db7;
    border-color: #677db7;
}

.btn-outline-secondary:hover{
    background-color: #5271c4;
    border-color: #5271c4;
}
/* pour le sidebar */
.sidebar_item {
	background-color: black !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: none;
	color: #b3b3b3;
	width: 240px;
	display: inline-block;
	float: left;
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.sidebar_item:hover {
	color: white;
}

.main-link {
	padding: 0 8px;
	height: 40px;
}

.main-link a {
	padding: 0 16px;
	height: 40px;
	color: #b3b3b3;
	font-size: 16px;

	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	transition: color 0.4s;
}
.main-link a.current {
	background-color: #282828 !important;
	color: white;
}
.main-link a:hover {
	color: white;
}

.main-link a svg {
	margin-right: 16px;
	transition: fill 0.4s;
}
.main-link a svg#fav {
	fill: #b3b3b3;
}
.main-link a:hover svg#fav {
	fill: #ff5555;
}
.main-link a.current svg#fav {
	fill: red;
}

.hr_sidebar {
	margin: 8px;
	background-color: gray;
	border: none;
	height: 2px;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
	color: white;
}

#sidebar-wrapper .sidebar_item {
	width: 240px;
}

#menu-toggle {
	color: white;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}
/* FIN DU SIDEBAR

/* pour le player-bar */

#player-bar {
	background-color: #282828 !important;
	min-width: 620px;
	width: 100%;
	height: 90px !important;
	z-index: 4;
}
#now-playing-bar-item {
	display: inline;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0;
}
#now-playing-bar__left {
	min-width: 365px;
}
#now-playing-bar__center {
	width: 40%;
	max-width: 722px;
	z-index: 4;
}
#now-playing-bar__center a {
	color: white;
}

#now-playing-bar__right {
	min-width: 236px;
}

div.now-playing-bar-item div#photo_album {
	display: inline-block;
	height: 90px;
	width: 90px;
	background-color: #444444;
}
div.now-playing-bar-item div#photo_album img {
	width: 90px;
	height: 90px;
	display: inline-block;
	object-fit: cover;
}

#bar-heart-empty {
	fill: lightgray;
}

#bar-heart-full {
	fill: red;
}
#bar_titres {
	display: inline-block;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 22px;
}
#bar_titre_chanson {
	font-size: 15px;
	font-weight: bold;
	white-space: nowrap;
	letter-spacing: 0em;
}
#bar_titre_artiste {
	font-size: 12px;
	white-space: nowrap;
	letter-spacing: 0em;
	padding-left: 2px;
}
#bar_volume {
	margin-right: 10px;
	padding: 0;
	border: 0;
}

#audio {
	width: 100%;
	min-width: 90px;
}
#mute {
	color: white;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-timeline{
    color: #677db7
}

audio::-webkit-media-controls-timeline-container{
    color: #677db7
}
/* FIN DU PLAYERBAR */

/* POUR LE CONTENUE des playlists */

.content_box {
	flex: 1;
    position: relative;
	margin: 12px;
	padding: 16px;
	background: #222222;
    border-radius: 6px;
	isolation: isolate;
	min-width: 210px;
	min-height: 210px;
    max-width: 330px;
	transition: background 0.9s;
}

.content_box:hover {
	background: #353535;
}
.content_box_photo {
	background-color: #444444;
    overflow:hidden;
    margin-bottom: 16px;
    max-height: 100%;
    object-fit:cover;
}
.content_box_photo img {
	max-width: 100%;
    float:left;
	position: relative;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
	object-fit:cover;
}

.content_box_photo_placeholder {
	stroke: #b3b3b3;
	color:  #b3b3b3;
	width: 100%;
	height: 100%;
}

.content_box_text {
	width: 100%;
}
.content_box_text_titre {
	color: white;
	font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.content_box_text_description {
	color: #b3b3b3;
}
/* Fin du Contenue des playlists*/
/* Début de la liste des chansons dans la vue playlist */

#liste_chanson_header {
	padding: 44px;
	background-color: #485461;
	background-image: linear-gradient(180deg, #666666, #121212);
	height: 340px;
}

#liste_chanson_header div.img_album_top {
	margin-right: 3rem;
	height: 230px;
	width: 230px;
	background-color: #444444;
}

#liste_chanson_header div.img_album_top img {
	width: 230px;
	height: 230px;
	object-fit:cover;
}
#titre_playlist {
	font-family: Verdana;
}

#infos_playlist {
	color: rgba(255, 255, 255, 0.5);
}

#top_controls {
	padding: 0px;
}

.fa-play-circle, .fa-pause-circle {
	color: #1db954;
}
#album-heart-empty {
	fill: #c3bbb6;
}
#album-heart-empty:hover {
	fill: white;
}
#album-heart-full {
	fill: red;
}
#text_publique {
	font-size: 17px;
	letter-spacing: 0em;
}

/* 3 dots menue add to playlist */

#dropdownMenuLink {
	background-color:transparent;
	color: lightgray;
}
#dropdownMenuLink:hover {
	color: white;
}
.dropdown-item:hover {
	background-color: #444444;
	cursor: pointer;
}

#liste_playlists {
	max-height: 360px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}
#liste_playlists a {
	color: #b3b3b3;
}
#liste_playlists a:hover {
	color: white;
}

/* scrollbar de l'ajout des playlists */
.liste_playlists::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
.liste_playlists::-webkit-scrollbar-track {
	background-color:transparent;
}
   
/* Handle */
.liste_playlists::-webkit-scrollbar-thumb {
	background: #677db7; 
}
  
/* Handle on hover */
.liste_playlists::-webkit-scrollbar-thumb:hover {
	background: #51618f; 
}


/* POUR LE CUSTOM CHECKBOX SLIDER DU PRIVACY du playlist*/ 
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
/* FIN */

/* Table des chansons 
.table {
	color: #ffffff;
	text-emphasis-color: white;
	background-color: rgba(0,0,0, 0.3) !important;
	opacity: 1 !important;
}

table tr td, table tr th{	/* ne fonctionne pas! 
	background:transparent !important;
	background-color: rgba(0,0,0, 0.3) !important;
	opacity: 1 !important;
}
*/
