.banner {
	background-color: #191308;
}

.btn-home {
	padding: 10px 40px;
	margin-top: 5vh;
	font-size: 20px;
	font-weight: 700;
	border-radius: 25px;
	background-color: #dbbdb2;
	color: #677db7;
}

.btn-home:hover {
	background-color: #fff;
	color: #677db7;
}

.banner {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	//font-size: 25px;
}

.nav-link,
.footer-link,
.footer-category,
.footer-legal {
	text-decoration: none;
	color: #fff;
}

.nav-link:hover {
	color: #677db7;
}

.wrap {
	background-color: #677db7;
}

.welcome-block {
	background: url(../images/DOM1.svg);
	background-size: 100%;
	background-position: 46% 4%;
}

.welcome-headings {
	text-align: center;
	height: 92vh;
}

.welcome-message {
	font-size: 10vw;
	font-weight: 500;
}

.welcome-sub-message {
	font-size: 30px;
}

.welcome-sub-message,
.welcome-message {
	color: #dbbdb2;
}

.footer {
	background-color: #191308;
	display: flex;
	flex-direction: row;
}

.top-link {
	display: flex;
	width: 85%;
}

.footer-block {
	padding: 10px 15px;
}

.form-group {
    padding-bottom: 0.7rem;
}

/* Contrôls Admin */@at-root
.form-check:hover {
	cursor: pointer;
}